<div class="container">
    <div class="p-3 m-3">


        <div class="text-center px-3 pb-3 m-3">
            <img src="assets/images/WhatIsMLOps.png" alt="Cat" class="img-fluid" alt="...">
        </div>

        <div class="text-justify px-3 m-3">
            <!-- <h3>MLOps</h3><br> -->
            <br>
            <span>Unlike standard software, Machine Learning (ML) systems have complex entanglement with the data on top of standard code. This complex relationship makes such systems much harder to maintain in the long run. Furthermore, different experts (application developers, data scientists, domain engineers, etc.) have to work together.</span> <br><br>
            <span>As a reaction to these challenges, the area of Machine Learning Operations (MLOps) emerged. MLOps can help reduce these issues as it promotes automation of all the steps involved in the construction of an ML system from development to deployment. Formally, MLOps is a discipline which is formed of a combination of ML and Development Operations (DevOps) to deploy ML systems reliably and efficiently.</span>
        </div>

        <div class="text-center px-3 pb-3 m-3">
        </div>
<!-- 
        <div class="text-justify p-3 m-3">
            <span><b>MSI - MDS</b></span><br><br>
            <span>• André Proença</span><br>
            <span>• Bruno Coutinho</span><br>
            <span>• Cláudio Correia</span><br>
            <span>• Gonçalo Marouvo</span><br>
        </div> -->

    </div>

</div>