<!-- https://primefaces.org/primeng/confirmdialog -->
<p-confirmDialog 
[closable]= false
[breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
header="Results" 
acceptLabel="Try Again"
rejectLabel="Lessons"
acceptIcon="pi pi-undo"
rejectIcon="pi pi-book"
></p-confirmDialog>

<p-toast></p-toast>

<p-dialog [closable]= false header="Wrong Answer" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="m-0" [innerText]="wrongAnswerMessage"></div>
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-spin pi-spinner" (click)="setNextAnswer()" label="Next Question" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>

<div class="container p-3">
    <div class="w-100 text-center" *ngIf="quizSize === 0 || spiner">
        <p-progressSpinner></p-progressSpinner>
    </div>
   
    <div *ngIf="quizSize !== 0 && !spiner" class="px-3 p-listbox m-3 py-3">
        <!-- header -->
        <h3>{{answer.question}}</h3>

        <!-- body -->
        <div class="py-3">
            <p-listbox [options]="answersToShow" [(ngModel)]="selectedAnswer"></p-listbox>
        </div>
        
        <!-- footer -->
        <div class="row py-3 mx-3 text-center">
            <div class="col pt-2 w-60"> <span>Question {{currentAnswerNumber + 1 }} of {{ quizSize }}</span></div>
            <div *ngIf="quizSize - 1 !=  currentAnswerNumber" class="col w-10 "> <button pButton type="button" label="Validate Answer" (click)="nextAnswer()"></button></div>
            <div *ngIf="quizSize - 1 ==  currentAnswerNumber" class="col w-10 "> <button pButton type="button" label="End Quiz" (click)="confirm()"></button></div>
        </div>
    </div>

</div>